.offcanvasContainer {
  background-color: white;
  height: 500px;
}

.dateContainer{
  position: relative;
  background-color: blue;
  text-align: center;
  vertical-align: middle;
  margin:auto;
  padding:0;
  height: 32px;
}

.dateText{
  display: inline-block;
  line-height: 32px;
  font-size: 16px;
  padding: 0 15px;
  background: white;
}

.leftArrow{
    content: "";
    display: inline-block;;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid red;
}

.dateText::after{
    content: "";
    position: absolute;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid red;
    left: -16px;
}

.leftlosange{
  color: white;
  background-color: white;
  font-size: 25px;
  -webkit-clip-path: polygon(0% 0%, 25% 0, 50% 50%, 25% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 25% 0, 50% 50%, 25% 100%, 0% 100%);
}


.Score--bounce{
  animation:Score-keyframes--bounce .8s ease-out
}
@keyframes Score-keyframes--bounce{
  0%,to { transform:rotate(0) }
  10% { transform:scale(1.1) }
  20% { transform:rotate(4deg) translateY(-12px) }
  40% { transform:rotate(2deg) translateY(0) }
  60% { transform:rotate(-2deg) translateY(-8px) }
  80% { transform:rotate(-1deg) translateY(0) }
}
