.offcanvasContainer {
  background-color: white;
  height: 100%;
}

.dateContainer{
  position: relative;
  background-image: url("./images/date-background.jpg");
  background-repeat: repeat repeat;
  text-align: center;
  padding: 10px 0px;
}

.dateText{
  position: relative;
  display: inline-block;
  color: #000000;
  font-family: "Playfair Display", serif;
  padding: 10px 10px;
  background: white;
}

.leftArrow{
  position: relative;
    content: "";
    display: inline-block;;

}
.rightArrow{
  position: relative;
    content: "";
    display: inline-block;;

}

@media (max-width: 767px) {
  .dateContainer {
    height: 64px;
  }
  .dateText{
    top: -12px;
    font-size: 20px;
    line-height: 32px;
  }
  .leftArrow{
      top: 6px;
      border-top: 26px solid transparent;
      border-bottom: 26px solid transparent;
      border-right: 26px solid white;
  }
  .rightArrow{
    top:6px;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 26px solid white;
  }
}

@media (min-width: 768px) {
  .dateContainer {
    height: 52px;
  }
  .dateText{
    top: -36px;
    line-height: 52px;
    font-size: 26px;
  }
  .leftArrow{
    top : -10px;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-right: 36px solid white;
  }
  .rightArrow{
    top : -10px;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;
    border-left: 36px solid white;
  }
}



.Score--bounce{
  animation:Score-keyframes--bounce .8s ease-out
}
@keyframes Score-keyframes--bounce{
  0%,to { transform:rotate(0) }
  10% { transform:scale(1.1) }
  20% { transform:rotate(4deg) translateY(-12px) }
  40% { transform:rotate(2deg) translateY(0) }
  60% { transform:rotate(-2deg) translateY(-8px) }
  80% { transform:rotate(-1deg) translateY(0) }
}
