.overlay {
  background-color: rgba(0,0,0,0.3);
}

@media (max-width: 767px) {
  .header {
    height: 55%;
  }
  .overlay {
    height: 45%;
  }
}

@media (min-width: 768px) {
  .header {
    height: 75%;
  }
  .overlay {
    height: 25%;
  }
}
